<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.borismus.webintent" version="1.1.0" 
	xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">

  <name>WebIntent</name>
  <description>Web intents for Cordova</description>
  <license>MIT</license>
  <keywords>cordova,webintent</keywords>

  <js-module name="WebIntent" src="www/webintent.js">
    <clobbers target="WebIntent" />
  </js-module>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="WebIntent">
        <param name="android-package" value="com.borismus.webintent.WebIntent" />
      </feature>
    </config-file>
    <source-file src="src/android/WebIntent.java" target-dir="src/com/borismus/webintent" />
  </platform>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="WebIntent">
        <param name="ios-package" value="WebIntent" />
      </feature>
    </config-file>
    <header-file src="src/ios/WebIntent.h" />
    <source-file src="src/ios/WebIntent.m" />
    <header-file src="src/ios/AppDelegate+WebIntents.h" />
    <source-file src="src/ios/AppDelegate+WebIntents.m" />
  </platform>

</plugin>
